*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header, header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}
.buttons-header img{
    margin-right: 5px;
}

.darkmode{
    background: none;
    border: 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
form input{
    width: 70%;
    padding: 1%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0px;
}
form button{
    padding: 1%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 15px;
}

.submenu-header{
    width: 50%;
}
.submenu-header ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submenu-header li{
    color: gray;
}
.offers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offers-image{
    width: 90vw;
}

.products{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
}
.product{
    background-color: gainsboro;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 25vw;
    height: 40vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product img{
    width: 100%;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #594302;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link-box{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.container-box{
    color: white;
}

@media (max-width:768px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
    }
    .buttons-header label, .search-form{
        display: none;
    }
    .buttons-header img{
        margin-right: 5px;
    }
    .submenu-header{
        width: 100%;
    }
    .submenu-header ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .products{
        width: 90vw;
    }
    .product{
        width: 40vw;
        height: 60vh;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    footer{
        flex-direction: column;
    }
    .link-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 25px;
    }
}